.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    gap: 4 rem;
}

.auth-section {
    padding: 2rem;
    border: 1px;
    border-radius: 8px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}